@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Barlow Semi Condensed;
    font-size: 13px;
    background: hsl(210, 46%, 95%);
    line-height: 1.7;
}

a {
    text-decoration: none;
    color:hsl(263, 55%, 52%);
    font-size: 20px;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1440px;
    margin: 100px auto;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header h3 {
    font-size: 15px;
}

.header p {
    opacity: 50%;
}

.cardImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #996ed9;
    margin-right: 15px;
}

.cardLead {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.cardQuote {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;
}

.purpleBg {
    background: hsl(263, 55%, 52%);
    color: white;
    background-image: url(../img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 90px;
}

.grayBg {
    background: hsl(217, 19%, 35%);
    color: white;
}

.whiteBg {
    background: hsl(0, 0%, 100%);
}

.white2Bg {
    background: hsl(0, 0%, 100%);
    
}

.blackBg {
    background: hsl(219, 29%, 14%);
    color: white;
}

.card:nth-of-type(1) {
    grid-column: 1 / 3;
}

.card:nth-of-type(3) {
    grid-column: 4;
    grid-row: 1 / 3;
}


.card:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 2;
}

footer {
    text-align: center;
}

/* Media Query */
@media(max-width: 768px) {
    .testimonials {
        grid-template-columns: 1fr;
    }

    .card:nth-of-type(1) {
        grid-column: 1;
    }
    
    .card:nth-of-type(3) {
        grid-column: 1;
        grid-row: 3;
    }
    
    
    .card:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
    }
}